[Unit]
Description=Tea Order Application
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/tea-order
Environment="PATH=/var/www/tea-order/venv/bin"
ExecStart=/var/www/tea-order/venv/bin/gunicorn --config gunicorn_config.py server.app:app
Restart=always

[Install]
WantedBy=multi-user.target 